<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="MusicDatabaseConnectionString" connectionString="Data Source=SC-201505151153;Initial Catalog=MusicDatabase;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
   
   <!-- 修改最大上传文件大小 -->
   <httpRuntime maxRequestLength="40960" 
   useFullyQualifiedRedirectUrl="true"
   executionTimeout="6000"
  
   minFreeThreads="8"
   minLocalRequestFreeThreads="4"
   appRequestQueueLimit="100"
   enableVersionHeader="true"
   />
 </system.web>
</configuration>
